<div class="container">
  <div>
    <span>Genre: </span>
    <select (ngModelChange)="selectedGenreChanged($event)" [(ngModel)]="selectedGenre">
      <option disabled value="-1">Select Genre</option>
      <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
    </select>
  </div>
  <div>
    <span>Track: </span>
    <select (ngModelChange)="selectedTrackChanged()" [(ngModel)]="selectedTrack" [disabled]="tracks.length == 0">
      <option disabled value="-1">Select Track</option>
      <option *ngFor="let track of tracks" [value]="track.id">{{track.name}}</option>
    </select>
  </div>
  <button (click)="addTrack()" [disabled]="selectedTrack === '-1'">Add</button>
</div>
