/* You can add global styles to this file, and also import other style files */

.header {
  background: lightblue;
  padding: 5px;

  & > * {
    margin: 0 10px;
  }

}

.header-column {
  display: inline;
}
